.covid19_info.mainfont {
    font-family: inherit;
}

.covid19_info {
	position: relative;
	margin: 0 auto;
	padding: 0;
	font: 300 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
	color: #d3ddef;
	background: #21252b;
	border-radius: 5px;
}

.header_covid19 {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	z-index: 2;
	width: 100%;
	padding: 2rem 1rem 0;
	margin: 0;
	font-size: 19px;
	color: #fff;
	font-weight: 500;
	text-align: center;
	line-height: 2;
}

.desc_covid19 {
	font-size: 16px;
	opacity: .6;
	line-height: 1.2;
	font-weight: normal;
}

.canvas {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	visibility: hidden;
	width: 100%;
	height: auto;
	padding: 4rem 1rem 1rem;
	opacity: 0;
	transition: opacity 0.5s;
}

.canvas svg {
	display: none;
	width: 100%;
	height: auto;
	max-height: calc(100% - 6rem);
	margin-left: 0;
}

.canvas svg path {
	fill: #383d46;
	fill-opacity: 1;
	stroke: #21252b;
	stroke-opacity: 1;
	stroke-width: 0.5;
	transition: 0.5s;
}

.canvas svg path[data-infected="1"] {
	fill: #59353f;
}

.canvas svg path[data-infected="2"] {
	fill: #7a2d37;
}

.canvas svg path[data-infected="3"] {
	fill: #9c2630;
}

.canvas svg path[data-infected="4"] {
	fill: #bd1e28;
}

.canvas svg path[data-infected="5"] {
	fill: #de1621;
}

.canvas svg path[data-infected="6"] {
	fill: #ff0e19;
}

.canvas svg path[data-infected] {
	cursor: pointer;
}

.canvas.canvas--visible {
	visibility: visible;
	opacity: 1;
}

.canvas.canvas--visible svg {
	display: block;
	max-width: 760px;
	margin: 0 auto;
}


.footer_covid19 {
	display: -webkit-block;
	display: -ms-block;
	display: block;
	z-index: 2;
	width: 100%;
	padding: 0.6rem 1rem 2rem;
	text-align: center;
	max-width: 740px;
	margin: 0 auto;
}

.footer_covid19 .copyright {
	font-size:10px;
}
.covid19_map_hint {
	display: inline-block;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0.125rem 0.25rem;
	background: linear-gradient(to right, #59353f, #de1621);
	border-radius: 2px;
	width:100%;

}

.covid19_map_hint span {
	float:left;
	display: block;
	cursor: default;
	font-size: 0.625rem;
	color: rgba(211, 221, 239, 0.75);
}
/* .rtl .covid19_map_hint span:last-child {float:right;} */
.covid19_map_hint span:last-child {float:right;}
.info {
	display: block;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-height: 30rem;
	padding: 0.5rem 0.5rem;
	overflow: auto;
	background: #181a1f;
	border: 0;
	border-radius: 5px;
	scrollbar-width: none;
	max-width: 700px;
	margin: 2rem auto 0;
}

.info::-webkit-scrollbar {
	width: 0;
}

.info table {
	display: table;
	width: 100%;
	font-size: 14px;
	border-spacing: 0;
	border: 0
}

.info td {
	cursor: pointer;
	padding: 0.25rem 0.375rem;
	text-align: center;
	border: 0;
	transition: background 0.25s;
}

.info td:first-child {
	min-width: 6rem;
	text-align: left;
	border-radius: 3px 0 0 3px;
}

.info td:last-child {
	border-radius: 0 3px 3px 0;
}

.info tbody tr:hover td {
	background: #21252b;
}

.info tbody tr[data-infected="1"] td {
	background: #59353f;
}

.info tbody tr[data-infected="2"] td {
	background: #7a2d37;
}

.info tbody tr[data-infected="3"] td {
	background: #9c2630;
}

.info tbody tr[data-infected="4"] td {
	background: #bd1e28;
}

.info tbody tr[data-infected="5"] td {
	background: #de1621;
}

.info tbody tr[data-infected="6"] td {
	background: #ff0e19;
}

.info thead td,
.info tfoot td {
	cursor: default;
	text-align: center;
	text-transform: capitalize;
	font-weight: 600;
}

.info thead td:first-child,
.info tfoot td:first-child {
	text-align: left;
}

.info thead td {
	border-bottom: solid 1px #21252b;
}

.info tfoot td {
	border-top: solid 1px #21252b;
}
.covid19_info.style2_theme {
    background: #e4e4e4;
    color: #21252b;
}

.covid19_info.style2_theme .header_covid19 {
    color: #21252b;
}

.covid19_info.style2_theme .info {
	background: #d1d0d0;
}

.covid19_info.style2_theme .info thead td {
	border-bottom: solid 1px #b0b0b0;
}

.covid19_info.style2_theme .info tbody tr:hover td {
	background: #bdbdbd;
}

.button {
	display: none;
	width: 8rem;
	max-width: 80%;
	margin: auto;
	padding: 0.75rem;
	font-size: 0.75rem;
	font-weight: 500;
	color: rgba(211, 221, 239, 0.75);
	background-color: #7a2d37;
	border: none;
	border-radius: 3px;
}

@media screen and (max-width: 767px) {
	.button {
		display: block;
	}
	.covid19_map_hint {
		width: 100%;
		margin: .5rem auto
	}
}

#tooltip {
	width: auto;
	height: auto;
	pointer-events: none;
	position: fixed;
	padding: 10px 15px;
	margin: 0 auto;
	background-color: black;
	color: white;
	border-radius: 5px;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 13px;
	visibility: hidden;
}

#tooltip.active {
	visibility: visible;
}